.sectionChild {
    width: 204px;
    position: absolute;
    margin: 0 !important;
    top: 97px;
    left: 886px;
    border-top: 8px solid #c084fc;
    box-sizing: border-box;
    height: 8px;
    z-index: 0;
}
.span {
    color: #9333ea;
}
.mainHeadline {
    align-self: stretch;
    position: relative;
    line-height: 110%;
    font-weight: 800;
}
.top {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.sitElitFeugiat {
    margin: 0;
}
.paragraph {
    align-self: stretch;
    position: relative;
    font-size: 18px;
    line-height: 160%;
}
.buttonText {
    position: relative;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-weight: 500;
}
.textContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
}
.button {
    width: 168px;
    border-radius: 8px;
    background-color: #9333ea;
    border: 2px solid #9333ea;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
}
.button1 {
    width: 168px;
    border-radius: 8px;
    border: 2px solid #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
}
.buttonsGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: left;
    font-size: 20px;
}
.sectionText {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    z-index: 1;
}
.iconJamIconsFilledCi {
    width: 10px;
    position: relative;
    height: 10px;
    overflow: hidden;
    flex-shrink: 0;
}
.circles {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    z-index: 0;
}
.iconJamIconsOutlineL {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.arrows {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    z-index: 1;
}
.feature {
    position: relative;
    line-height: 140%;
}
.addressBar {
    width: 44.99%;
    margin: 0 !important;
    position: absolute;
    top: 8px;
    right: 27.42%;
    left: 27.59%;
    border-radius: 5px;
    background-color: #f1f5f9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    box-sizing: border-box;
    z-index: 2;
}
.topBar {
    align-self: stretch;
    height: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    box-sizing: border-box;
    position: relative;
    gap: 28px;
}
.desktopAppPlaceholder1Icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.screendesktop {
    width: 1100px;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25), 0px 0px 15px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    background-color: #fff;
    height: 702px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
    text-align: left;
    font-size: 12px;
    color: #94a3b8;
}
.sectionItem {
    width: 195px;
    position: absolute;
    margin: 0 !important;
    top: 156.5px;
    left: 597.5px;
    border-top: 5px solid #c084fc;
    box-sizing: border-box;
    height: 5px;
    z-index: 3;
}
.section {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 80px;
    box-sizing: border-box;
    gap: 80px;
    text-align: center;
    font-size: 72px;
    color: #fff;
    font-family: Roboto;
}

